<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="logImpl" value="LOG4J"/>
    </settings>
    <typeAliases>
<!--        <package name="site.linkway.core.entity"/>-->
    </typeAliases>
<!--    Mapper Files-->
    <mappers>
        <mapper resource="mapper/SampleMapper.xml"/>
        <mapper resource="mapper/AddressMapper.xml"/>
        <mapper resource="mapper/AdminMapper.xml"/>
        <mapper resource="mapper/CartMapper.xml"/>
        <mapper resource="mapper/FCommentMapper.xml"/>
        <mapper resource="mapper/GoodImgMapper.xml"/>
        <mapper resource="mapper/GoodMapper.xml"/>
        <mapper resource="mapper/GoodTypeMapper.xml"/>
        <mapper resource="mapper/ImgMapper.xml"/>
        <mapper resource="mapper/OrderMapper.xml"/>
        <mapper resource="mapper/SCommentMapper.xml"/>
        <mapper resource="mapper/UserMapper.xml"/>
    </mappers>
</configuration>

        <!--        JDBC Type           Java Type-->
        <!--        CHAR                String-->
        <!--        VARCHAR             String-->
        <!--        LONGVARCHAR         String-->
        <!--        NUMERIC             java.math.BigDecimal-->
        <!--        DECIMAL             java.math.BigDecimal-->
        <!--        BIT             boolean-->
        <!--        BOOLEAN             boolean-->
        <!--        TINYINT             byte-->
        <!--        SMALLINT            short-->
        <!--        INTEGER             int-->
        <!--        BIGINT              long-->
        <!--        REAL                float-->
        <!--        FLOAT               double-->
        <!--        DOUBLE              double-->
        <!--        BINARY              byte[]-->
        <!--        VARBINARY           byte[]-->
        <!--        LONGVARBINARY               byte[]-->
        <!--        DATE                java.sql.Date-->
        <!--        TIME                java.sql.Time-->
        <!--        TIMESTAMP           java.sql.Timestamp-->
        <!--        CLOB                Clob-->
        <!--        BLOB                Blob-->
        <!--        ARRAY               Array-->
        <!--        DISTINCT            mapping of underlying type-->
        <!--        STRUCT              Struct-->
        <!--        REF                         Ref-->
        <!--        DATALINK            java.net.URL[color=red][/color]-->