<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="logImpl" value="LOG4J"/>
    </settings>
    <typeAliases>
<!--        <package name="site.linkway.core.entity"/>-->
    </typeAliases>
<!--    Mapper Files-->
    <mappers>
<!--        已经在spring-mybatis.xml中自动多个mapper xml 配置无需在此配置-->
<!--        如需配置请取消自动多个mapper xml配置-->
<!--        <mapper resource="mapper/SampleMapper.xml"/>-->
<!--        <mapper resource="mapper/AddressMapper.xml"/>-->
    </mappers>
</configuration>

        <!--        JDBC Type           Java Type-->
        <!--        CHAR                String-->
        <!--        VARCHAR             String-->
        <!--        LONGVARCHAR         String-->
        <!--        NUMERIC             java.math.BigDecimal-->
        <!--        DECIMAL             java.math.BigDecimal-->
        <!--        BIT             boolean-->
        <!--        BOOLEAN             boolean-->
        <!--        TINYINT             byte-->
        <!--        SMALLINT            short-->
        <!--        INTEGER             int-->
        <!--        BIGINT              long-->
        <!--        REAL                float-->
        <!--        FLOAT               double-->
        <!--        DOUBLE              double-->
        <!--        BINARY              byte[]-->
        <!--        VARBINARY           byte[]-->
        <!--        LONGVARBINARY               byte[]-->
        <!--        DATE                java.sql.Date-->
        <!--        TIME                java.sql.Time-->
        <!--        TIMESTAMP           java.sql.Timestamp-->
        <!--        CLOB                Clob-->
        <!--        BLOB                Blob-->
        <!--        ARRAY               Array-->
        <!--        DISTINCT            mapping of underlying type-->
        <!--        STRUCT              Struct-->
        <!--        REF                         Ref-->
        <!--        DATALINK            java.net.URL[color=red][/color]-->