<?xml version="1.0" encoding="UTF8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx.xsd">
    <import resource="spring-mybatis.xml"/>
    <!-- 扫描service相关的bean -->
    <context:component-scan base-package="site.linkway.core.service" />
    <!-- 配置事务管理器 -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <!-- 注入数据库连接池 -->
        <property name="dataSource" ref="datasource" />
    </bean>
    <!--配置事务通知-->
    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <!--配置哪些方法使用什么样的事务,配置事务的传播特性-->
            <tx:method name="add" propagation="REQUIRED"/>
            <tx:method name="delete" propagation="REQUIRED"/>
            <tx:method name="update" propagation="REQUIRED"/>
            <tx:method name="search*" propagation="REQUIRED"/>
            <tx:method name="get" read-only="true"/>
            <tx:method name="*" propagation="REQUIRED"/>
        </tx:attributes>
    </tx:advice>


<!--    服务类装配-->
    <bean id="SampleServiceImpl" class="site.linkway.core.service.SampleServiceImpl">
        <property name="goodsMapper" ref="SampleMapper"/>
    </bean>
    <bean id="IdentitySecurityServiceImpl" class="site.linkway.core.service.IdentitySecurityServiceImpl">
    </bean>
    <bean id="UserDataServiceImpl" class="site.linkway.core.service.UserDataServiceImpl">
    </bean>
    <bean id="ShoppingCartServiceImpl" class="site.linkway.core.service.ShoppingCartServiceImpl">
    </bean>
    <bean id="ReceivingAddressServiceImpl" class="site.linkway.core.service.ReceivingAddressServiceImpl">
    </bean>
    <bean id="ImageServiceImpl" class="site.linkway.core.service.ImageServiceImpl">
    </bean>
</beans>