<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.linkway.core.mapper.CartMapper">
    <insert id="insert" parameterType="site.linkway.core.entity.po.Cart">
        INSERT INTO cart(cartId,goodId,userId,num)
        VALUES (#{cartId},#{goodId},#{userId},#{num})
    </insert>
    <delete id="delete" parameterType="site.linkway.core.entity.po.Cart">
        DELETE FROM cart WHERE userId=#{userId} and cartId=#{cartId}
    </delete>
    <update id="update">
        UPDATE cart SET num=#{num}
        WHERE cartId = #{cartId} and userId=#{userId}
    </update>
    <select id="select" parameterType="site.linkway.core.entity.po.Cart" resultType="site.linkway.core.entity.po.Cart">
        SELECT * FROM cart WHERE userId=#{userId}
    </select>
    <select id="selectCartsDetail" resultType="site.linkway.core.entity.po.CartItem">
        SELECT user.userId as userId,
               cartId,
               num,
               cart.goodId,
               price,
               good.name,
               profile,
               stock,
               soldSum,
               goodType.name as goodType,
               goodType.goodTypeId
        FROM user,cart,good,goodType
        WHERE
        user.email=#{email} AND
        cart.userId=user.userId AND
        cart.goodId=good.goodId AND
        goodType.goodTypeId=good.goodTypeId;
    </select>
</mapper>