<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.linkway.core.mapper.GoodMapper">
    <resultMap id="Commodity" type="site.linkway.core.entity.po.Commodity">
        <collection property="imgsURL" javaType="ArrayList" ofType="java.lang.String" column="{id=goodId}"
                    select="imgIdByGoodId"/>
    </resultMap>
    <select id="randomCommodities" resultMap="Commodity">
        select goodType.name as goodType,
               good.goodTypeId as goodtypeId,
               good.name as name,
               profile,
               price,
               good.goodId as goodId,
               stock,
               soldSum,
               onSale,
               detail,
               detailImgId as detailsImg
        FROM good,goodType
        WHERE good.goodTypeId=goodType.goodTypeId
        ORDER BY rand() limit #{maxSize}
    </select>
    <select id="commodityByGoodId" resultMap="Commodity">
        select goodType.name as goodType,
               good.goodTypeId as goodtypeId,
               good.name as name,
               profile,
               price,
               good.goodId as goodId,
               stock,
               soldSum,
               onSale,
               detail,
               detailImgId as detailsImg
        FROM good,goodType
        WHERE good.goodId=#{goodId} AND good.goodTypeId=goodType.goodTypeId
    </select>
    <select id="imgIdByGoodId" resultType="java.lang.String">
        select imgId from goodImg WHERE goodId=#{id}
    </select>

    <select id="selectPriceByGoodId" resultType="java.lang.Double">
        SELECT price FROM good WHERE goodId=#{goodId}
    </select>

    <select id="search" resultMap="Commodity">
        SELECT goodType.name AS goodType,
               good.goodTypeId AS goodtypeId,
               good.name AS name,
               profile,
               price,
               good.goodId AS goodId,
               stock,
               soldSum,
               onSale,
               detail,
               detailImgId as detailsImg
        FROM good,goodType
        <where>
            good.goodTypeId=goodType.goodTypeId
            <if test="goodId != null">
                and good.goodId = #{goodId}
            </if>
            <if test="keyword != null">
                and good.name like #{keyword}
            </if>
            <if test="searchType != null">
                and goodType.name like #{searchType}
            </if>
            <if test="minPrice != 0">
                and good.price &gt;= #{minPrice}
            </if>
            <if test="maxPrice != 0">
                and good.price &lt;= #{maxPrice}
            </if>
        </where>
        LIMIT #{num},#{size}
    </select>

    <select id="searchPageCount" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM good,goodType
        <where>
            good.goodTypeId=goodType.goodTypeId
            <if test="keyword != null">
                and good.name like #{keyword}
            </if>
            <if test="searchType != null">
                and goodType.name like #{searchType}
            </if>
            <if test="minPrice != 0">
                and good.price &gt;= #{minPrice}
            </if>
            <if test="maxPrice != 0">
                and good.price &lt;= #{maxPrice}
            </if>
            <if test="goodId != null">
                and good.goodId = #{goodId}
            </if>
        </where>
    </select>

    <insert id="insert" parameterType="site.linkway.core.entity.po.Good">
        INSERT INTO good(goodId,price,name,profile,stock,soldSum,goodTypeId,onSale,detail)
        VALUES(#{goodId},#{price},#{name},#{profile},#{stock},#{soldSum},#{goodTypeId},#{onSale},#{detail});
    </insert>

    <update id="update" parameterType="site.linkway.core.entity.po.Good">
        UPDATE good SET
        price=#{price},name=#{name},profile=#{profile},stock=#{stock},goodTypeId=#{goodTypeId},onSale=#{onSale},detail=#{detail},detailImgId=#{detailImgId}
        WHERE goodId=#{goodId}
    </update>

    <delete id="delete" parameterType="java.lang.String">
        DELETE FROM good WHERE goodId=#{goodId}
    </delete>

    <select id="select" parameterType="site.linkway.core.entity.po.Good" resultType="site.linkway.core.entity.po.Good">
        SELECT * FROM good WHERE goodId=#{goodId}
    </select>

</mapper>