<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.linkway.core.mapper.SCommentMapper">
    <select id="commentListByFCommentId" resultType="site.linkway.core.entity.po.Comment">
        SELECT scomment.sCommentId as commentId,
               content,
               scomment.userId as userId,
               user.name as userName,
               user.headImgId as avatarURL,
               scomment.time as time
        FROM scomment,user
        WHERE scomment.fCommentId=#{fCommentId} AND scomment.userId=user.userId
        ORDER BY scomment.time
        LIMIT #{num},#{size}
    </select>
    <select id="countByfCommentId" resultType="java.lang.Long">
        SELECT COUNT(*) from scomment WHERE fCommentId=#{fCommentId}
    </select>
</mapper>